<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CamadaDAL.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  <connectionStrings>
    <add name="CamadaDAL.My.MySettings.NovaSiaoConnectionString"
      connectionString="Data Source=SERVERNOTE\SQLPADRAO;Initial Catalog=NovaSiao;Persist Security Info=True;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <CamadaDAL.My.MySettings>
      <setting name="ConexaoString" serializeAs="String">
        <value>Data Source=SERVERNOTE\SQLPADRAO;Initial Catalog=NovaSiao;Persist Security Info=True;User ID=sa;Password=123456</value>
      </setting>
      <setting name="StringNote" serializeAs="String">
        <value>Data Source=SERVERNOTE\SQLPADRAO;Initial Catalog=NovaSiao;Persist Security Info=True;User ID=sa;Password=123456</value>
      </setting>
      <setting name="StringLocal" serializeAs="String">
        <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Dados\NovaSiao.mdf;Integrated Security=True;Connect Timeout=30</value>
      </setting>
      <setting name="StringAzure" serializeAs="String">
        <value>Server=tcp:novasiaoserver.database.windows.net,1433;Initial Catalog=ProgramaLoja;Persist Security Info=False;User ID=Daniel;Password=f8ip7Ofr;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</value>
      </setting>
      <setting name="StringDesktop" serializeAs="String">
        <value>Data Source=VTSERVER\SQLPADRAO;Initial Catalog=NovaSiao;Persist Security Info=True;User ID=sa;Password=123456</value>
      </setting>
    </CamadaDAL.My.MySettings>
  </userSettings>
</configuration>
